# I also use git status command for tracking my dotfiles.
# this file purpose is to help me with it.
.local
.cache
.bash_history
.bash_logout
.esd_auth
.python_history
.ssh
.gitconfig
.config/vifm
.config/shortcutrc
.lesshst
.mozilla
.Xauthority
.config/Trolltech.conf
.config/calcurse/
.config/dconf/
.config/htop/
.config/keepassx/
.config/libreoffice/
.config/mpd
.config/ncmpcpp/
.config/nvim/
.config/pulse/
.ipython/
backup/
books/
code/
jobdocs
other-books/
todo
Downloads
.config/GIMP
.config/discord
.gnupg
.pki
