# I also use git status command for tracking my dotfiles.
# this file purpose is to help me with it.
.cache
.*_history
.bash_logout
.esd_auth
.ssh
.gitconfig
.config/vifm
.config/shortcutrc
.lesshst
.mozilla
.Xauthority
.config/Trolltech.conf
.config/calcurse/
.config/dconf/
.config/htop/
.config/keepassx/
.config/libreoffice/
.config/mpd
.config/ncmpcpp/
.config/nvim/
.config/pulse/
.ipython/
.config/GIMP
.config/discord
.gnupg
.pki
.cargo
.rustup
.password-store
